INSTALLER_UI=silent
USER_LOCALE=<%= node["oracle"]["locale"] %>
INSTALL_MODE=New Install
ORACLEHOME=<%= node["oracle"]["middleware"]["home"] %>
USER_INSTALL_DIR=<%= node["tuxedo"]["home"] %>
TLISTEN_PASSWORD=<%= node["tuxedo"]["tlisten_password"] %>
CHOSEN_INSTALL_SET=<%= node["tuxedo"]["install_set"] %>
INSTALL_SAMPLES=<%= node["tuxedo"]["install_samples"] ? 'Y' : 'N' %>
